@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 40px 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
}
.nav--logo{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.nav-logo-titles{
    font-size: 40px;
    font-weight: 700;
    color: #4A8DB7;
}
.logo{
    margin: 0 10px;
}
.nav--menu{
    display: flex;
    margin: 0 auto ;
    color: #4A8DB7;
}
.nav--menu-btns{
    text-decoration: none;
    margin: auto 15px;
    font-size: 18px;
    color: #4A8DB7;
    font-weight: 300;
}
.nav--cart{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-cart-img{
    width: 50px;
}
.header--container{
    background-image:linear-gradient(135deg, #4b749f 20%, #243748 90%), url("/assets/fondo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
   
}
.header--titles{
    text-align: center;
    color: #fff;
    width: 60%;
}
.header-tilte{
    font-size: 50px;
    margin: 20px 0;
}
.header-subtitle{
    font-size: 20px;
    margin: 20px 0;
    font-weight: 300;
}
.header--titles-btn{
    display: block;
    background-color: #3B7197;
    width: 160px;
    margin: auto;
    padding: 20px ;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
}