@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header{
    position: relative;
    
}
.container{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 40px 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
    z-index: 0;
}
.nav--logo{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.nav-logo-titles{
    font-size: 40px;
    font-weight: 700;
    color: #4A8DB7;
}
.logo{
    margin: 0 10px;
}
.nav--menu{
    display: flex;
    color: #4A8DB7;
    justify-content: space-evenly;
}
.nav--menu-btns{
    text-decoration: none;
    margin: auto 15px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}
.nav--cart{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-cart-total{
    position: relative;
    bottom: 12px;
    right: 4px;
    font-size: 18px;
    color: #3B7197;
}
.nav-cart-img{
    width: 60px;
}
.header--container{
    background-image:linear-gradient(135deg, #4b749f 20%, #243748 70%), url("/assets/fondo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}
.header--titles{
    text-align: center;
    color: #fff;
    width: 60%;
}
.header-tilte{
    font-size: 50px;
    margin: 20px 0;
}
.header-subtitle{
    font-size: 20px;
    margin: 20px 0;
    font-weight: 300;
}
.header--titles-btn{
    display: block;
    background-color: #3B7197;
    width: 160px;
    margin: auto;
    padding: 20px ;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
}


/*Table Cart*/
.cart-container{
    position: absolute;
    top: 100px;
    right: 120px;
    width: 600px;
    height: auto;
    z-index: 10;
    background-color: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    /*clip-path: circle(0% at 50% 50%);*/
    transition:  clip-path .5s ease-in-out;
    border-radius: 20px;
    box-shadow: 0 0 6px rgba(39, 38, 38, 0.884);
    
}
.show{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    /*clip-path: circle(100% at 50% 50%);*/
   
}
.img-table{
    width: 70px;
}

.cart-table{
    width: 100%;
   
}
table{
    table-layout: fixed;
    border-collapse: collapse;
}
thead{
    background-color: #243748; 
    
}

th{
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    padding: 15px 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
   
}
td{
    padding: 10px 20px;
    border-bottom: 0.3px solid #243748;
    font-size: 16px;
    font-weight: 500;
    color: #3B7197;
    align-items: center;
    text-align: center;
    margin: 0 15px;
}
.td-clear{
    text-align: center;
    font-size: 30px;
    margin: 10px  0;
  
}
.btn-mas{
    background-color: green;
    border: none;
    color: #fff;
    padding: 8px;
    border-radius: 3px;
    font-size: 18px;
}
.btn-mas:hover{
    background-color: rgb(86, 231, 86);
}
.btn-menos:hover{
    background-color: rgb(236, 61, 61);
}
.btn-menos{
    background-color: red;
    border: none;
    color: #fff;
    padding: 8px;
    border-radius: 3px;
    font-size: 18px;
}
.line-table{
    border-top: 1px solid #4b749f;
    height: 2px;
    max-width: 500px;
    padding: 5px 0;
    margin: 20px auto 0 auto;
    

}
.two-table{
    margin: 10px 0;
    height: 150px;
}
.two-tables-texs{
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-size: 12px;
    margin: 20px 0;
    padding: 0 50px;
}
.two-table-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.vaciar-carrito{
  
    width: 200px;
    padding: 15px 15px;
    background-color: #3B7197;
    color: #fff;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin: 20px;
}

.vaciar-carrito:hover{
    background-color: #243748;
}



/*  Main*/
.line{
    height: 2px;
    width: 190px;
    background-color: #243748;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    border-radius: 10px;
}
.shoes-container{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
}
.shoes-box{
    width: 30%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 20px 20px;
}
.shoes-box-img{
    width: 100%;
    height: 50%;
}
.shoes-box-img img{
    width: 100%;
    height: 100%;

}
.shoes-box-title{
    color: #243748;
    font-weight: 700;
    padding: 10px;
}
.shoes-box-prices{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.shoes-box-text{
    color: #3B7197;
    font-weight: 400;
    font-size: 24px;
}
.box--img{
    width: 100px;
    margin: 10px;
}
.box-shoes-price{
    color: #243748;
    font-weight: 500;
    font-size: 24px;
}
.shoes-box-btn{
    display: block;
    padding: 15px 20px;
    width: 200px;
    border: none;
    background-color: #243748;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 10px auto;  
    transition: all  0.2s ease-in-out ;
}
.shoes-box-btn:hover{
    background-color: #3B7197;
}

.shoes-box-btn i{
    width: 20px;
    margin: 0 10px;
}




/*Footer*/
.footer{
    background-image:linear-gradient(135deg, #4b749f 20%, #243748 90%);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer--logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.footer--logo h2{
    color: #fff;
    font-size: 30px;
}
.footer-contac{
    font-size: 25px;
    margin: 10px 0;
    color: #fff;
}
.footer-contac i{
    margin: 0 20px;
    cursor: pointer;
}

/*Media Querrys*/

@media screen and (max-width:500px) {
    
.nav{
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
}
.nav--menu-btns{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}
.header--titles{
    width: 70%;
}
.header-tilte{
    font-size: 50px;
    margin: 20px 0;
}
.header-subtitle{
    font-size: 18px;
    margin: 20px 0;
    font-weight: 300;
}


/*  Main*/
.shoes-container{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    overflow: hidden;;
}
.shoes-box{
    width: 70%;
    margin: 20px auto;
}
.shoes-box-img{
    width: 100%;
    height: 40%;
}
.shoes-box-img img{
    width: 100%;
    height: 100%;

}
.shoes-box-title{
    color: #243748;
    font-weight: 500;
    padding: 10px;
    font-size: 18px;
}
.shoes-box-prices{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.shoes-box-text{
    color: #3B7197;
    font-weight: 400;
    font-size: 20px;
}
.box--img{
    width: 80px;
}
.box-shoes-price{
    color: #243748;
    font-weight: 500;
    font-size: 24px;
}
.shoes-box-btn{
    display: block;
    padding: 10px 25px;
    width: 190px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    
}

/*Footer*/
.footer{
    background-image:linear-gradient(135deg, #4b749f 20%, #243748 90%);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer--logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.footer--logo h2{
    color: #fff;
    font-size: 30px;
}
.footer-contac{
    display: flex;
    flex-direction: column;
}
.footer-contac i{
    margin: 20px auto;
    cursor: pointer;
}



/*Table Cart*/
.cart-container{
    position: absolute;
    top: 100px;
    right: 8px;
    width: 400px;
    
}
.show{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    /*clip-path: circle(100% at 50% 50%);*/
   
}
.img-table{
    width: 50px;
}

th{
    font-size: 14px;
}
td{
    padding: 10px 15px;
    border-bottom: 0.3px solid #243748;
    font-size: 14px;
    font-weight: 500;
    color: #3B7197;
    align-items: center;
    text-align: center;
    margin: 0 20px;
}
.table-btn{
    border: none;
    color: #fff;
    padding: 6px 5px;
    border-radius: 3px;
    font-size: 14px;

}
.btn-mas{
    background-color: green;
    
}
.btn-menos{
    background-color: red;
 
}
.two-tables-texs{
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-size: 12px;
    margin: 20px 0;
    padding: 0 50px;
}
.two-table-buttons{
    display: flex;
}

}